<div class="container">
  <img
    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
    alt="bulbassaur"
  />
  <div class="container-content">
    <h1>bulbassaur</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione iure
      minima ex soluta, laudantium hic quibusdam expedita repellat incidunt
      perferendis, dolore est dolor rerum nostrum ab earum nulla explicabo
      alias.
    </p>
  </div>
  <a [routerLink]="['']"> << voltar</a>
</div>
